.form_label{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #9E9E9E;
    margin-right: 16px;
  }

  *:focus {
    outline: none !important;
    border-color: none !important;
    box-shadow: none !important;
  }
  
  
  .input-field{
    border-radius: 0px;
    border:solid 1px rgba(0,0,0,0.5);
    background:none;
    padding: 6px 12px;
    border-radius: 4px;
  }

  .primary_btn {
      display: flex;
      justify-content: center;
      padding: 8px 0px;
      background: #43d343;
      width: 100%;
      border-radius: 4px;
      color: #fff;
      border: solid 1px #9E9E9E;
      cursor: pointer;
  }

  .profile-pic-user-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background: cadetblue;
    color: #fff;
    border-radius: 50%;
    padding: 7px;
  }

  .profile-pic-image {
    object-fit: cover;
    margin-right: 16px;
    border: solid 1px #4e4e4e;
    border-radius: 50%;
    width: 42px;
    height: 42px;
}

.danger_btn {
  display: flex;
  justify-content: center;
  padding: 8px 0px;
  background: rgb(226, 14, 14);
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  color: #fff;
  border: solid 1px rgb(226, 14, 14);
  cursor: pointer;
}